<h2>Activities</h2>
<hr/>

<% @activities.each do |activity| %>
	<%= activity.id %>
	<%= activity.trackable_type %>
	<%= activity.trackable_id %>
	<%= link_to activity.trackable, activity.trackable %>
	<%= activity.key %>
	<%= activity.parameters %>
	<%= activity.owner %> 
	<br/>
<% end %>
